html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: Arial;
	color: #FFFFFF;
	cursor: default;
	font-size: 18px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	position: relative;
}

a {
	color: white;
	text-decoration: none;
}

.baloo,button {
	font-family: "Baloo", cursive;
}

#menu {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#backdrop {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
	background-color: #000000;
	opacity: 0.6;
}

#mcontainer{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.column {
	display: inline-block;
	vertical-align: top;
	margin: 4px;
}

.card {
	padding: 15px;
	width: 400px;
	margin-bottom: 8px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 18px;
}

#title {
	width: 100%;
}

#heading {
	color: white;
	font-size: 100px;
	-webkit-text-shadow: 0px 4px 0px #cccccc;
	-moz-text-shadow: 0px 4px 0px #cccccc;
	text-shadow: 0px 4px 0px #cccccc;
}

#by {
	font-size: 25px;
	position: relative;
	top: -40px;
}

#logo {
	cursor: pointer;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#logo:hover {
	text-shadow: 0px 0px 12px rgb(204,133,0);
}

.mitem {
	width: 100%;
	height: 40px;
	border: none;
	margin: 5px;
	outline: none;
	margin-left: 0px;
	border-radius: 10px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#alias, select {
	-webkit-box-shadow: 0px 4px 0px 0px #cccccc;
	-moz-box-shadow: 0px 4px 0px 0px #cccccc;
	box-shadow: 0px 4px 0px 0px #cccccc;
}

#alias:hover, #alias:focus, select:hover, select:focus {
	background-color: #e6e6e6;
}

#alias {
	padding: 10px;
	font-size: 20px;
}

select {
	position: relative;
	width: 49.3% !important;
	padding-left: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	font-size: 20px;
}

button {
	position: relative;
	background-color: #8c8c8c;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
	color: white;
	-webkit-box-shadow: 0px 4px 0px 0px #595959;
	-moz-box-shadow: 0px 4px 0px 0px #595959;
	box-shadow: 0px 4px 0px 0px #595959;
}

button:hover {
	background-color: #a6a6a6;
}

button:active {
	background-color: #737373;
}

#play {
	background-color: #0066ff;
	-webkit-box-shadow: 0px 4px 0px 0px #003d99;
	-moz-box-shadow: 0px 4px 0px 0px #003d99;
	box-shadow: 0px 4px 0px 0px #003d99;
}

#play:hover {
	background-color: #3385ff;
}

#play:active {
	background-color: #0052cc;
}

#msheading {
	font-size: 40px;
}

.smheading {
	font-size: 30px;
}

.sibutton {
	width: 32%;
	margin: 0px;
	margin-top: 7px;
}

.sifacebook {
	background-color: #4267b2;
	-webkit-box-shadow: 0px 4px 0px 0px #294170;
	-moz-box-shadow: 0px 4px 0px 0px #294170;
	box-shadow: 0px 4px 0px 0px #294170;
}

.sifacebook:hover {
	background-color: #577bc1;
}

.sifacebook:active {
	background-color: #375695;
}

.sitwitter {
	background-color: #1b95e0;
	-webkit-box-shadow: 0px 4px 0px 0px #115a88;
	-moz-box-shadow: 0px 4px 0px 0px #115a88;
	box-shadow: 0px 4px 0px 0px #115a88;
}

.sitwitter:hover {
	background-color: #33a1e6;
}

.sitwitter:active {
	background-color: #1679b6;
}

.sigoogle {
	background-color: #db4437;
	-webkit-box-shadow: 0px 4px 0px 0px #97261c;
	-moz-box-shadow: 0px 4px 0px 0px #97261c;
	box-shadow: 0px 4px 0px 0px #97261c;
}

.sigoogle:hover {
	background-color: #df5e53;
}

.sigoogle:active {
	background-color: #c23124;
}

#hud {
	opacity: 0;
	-webkit-transition: opacity 0.25;
	transition: opacity 0.25;
	font-size: 18px;
}

#points, #leaderboard, #astatus {
	padding: 10px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	color: white;
	/*backdrop-filter: blur(5px);*/
}

#leaderboard {
	width: 340px;
	top: 0px;
	right: 0px;
	text-align: center;
}

#lheading {
	font-size: 32px;
	font-weight: 500;
	padding: 10px;
}

table {
	width: 100%;
}

td {
	width: 50%;
}

.bname {
	text-align: left;
}

.bscore {
	text-align: right;
	font-weight: bold;
}

.round {
	border-radius: 6px;
}

#points {
	top: 0px;
	left: 0px;
	font-weight: bold;
}

#upgrades {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 220px;
	margin: 10px;
	font-weight: bold;
}

#uheading {
	position: absolute;
	width: 100%;
	padding-left: 5px;
	font-size: 25px;
	font-weight: 500;
}

#upoints {
	position: absolute;
	right: 5px;
	top: 16px;
}

.upgrade {
	background-color: rgba(0, 0, 0, 0.6);
	/*backdrop-filter: blur(5px);*/
	margin-top: 5px;
	padding: 2px;
	width: 100%;
	height: 30px;
	cursor: pointer;
	z-index: -2;
}

.uinner {
	position: absolute;
	width: 100%;
	padding: 5px;
	z-index: 10;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.uinner:hover {
	padding-left: 10px;
}

.ucost {
	position: absolute;
	right: 5px;
	margin-top: 5px;
	z-index: 10;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.ubar {
	position: absolute;
	width: 0%;
	height: 30px;
	background-color: rgba(0, 102, 255, 0.6);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#astatus {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 100px;
	left: 220px;
	bottom: 0px;
	margin-left: 20px;
}

#aname {
	position: absolute;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#afill {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 120px;
	height: 0px;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.2);
}

#bnotification {
	position: fixed;
	left: 50%;
	bottom: -100px;
	transform: translateX(-50%);
	color: black;
	font-size: 40px;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}